<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.aston.calculusldc">
    <!-- Permissions for internet -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalculusLDC">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".root.differentiation.ChainRule.ChainRuleVidActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".root.differentiation.ChainRule.ChainRuleQuestionActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".root.differentiation.ChainRule.ChainRuleBestScoreActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".root.differentiation.ProductRule.ProductRuleVidActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".root.differentiation.ProductRule.ProductRuleQuestionActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".root.differentiation.ProductRule.ProductRuleBestScoreActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".root.differentiation.ImplicitDiff.ImplicitDiffVidActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".root.differentiation.ImplicitDiff.ImplicitDiffQuestionActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".root.differentiation.ImplicitDiff.ImplicitDiffBestScoreActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".root.differentiation.PartialDiff.PartialDiffVidActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".root.differentiation.QuotientRule.QuotientRuleVidActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".root.differentiation.QuotientRule.QuotientRuleQuestionActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".root.differentiation.QuotientRule.QuotientRuleBestScoreActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".root.differentiation.StatPoints.StatPointsVidActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".root.differentiation.StatPoints.StatPointsQuestionActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".root.differentiation.StatPoints.StatPointsBestScoreActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".root.differentiation.VariousFunctionsDiff.VariousFunctionsDiffVidActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".root.differentiation.VariousFunctionsDiff.VariousFunctionsDiffQuestionActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".root.differentiation.VariousFunctionsDiff.VariousFunctionsDiffBestScoreActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".root.integration.IntroToIntegration.IntroToIntegrationVidActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".root.integration.IntegrationBySubstitution.IntegrationBySubstitutionVidActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".root.integration.IntegrationByParts.IntegrationByPartsVidActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".root.InteractiveDiagrams.InteractiveDiagramCalculatorActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".root.InteractiveDiagrams.InteractiveDiagramActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>